<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Running Plans</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>

  <body>
    <h1 class="header">Weekly Running Planner</h1>

    <div class="nav">
      <ul>
          <li><a href="/">Routes</a></li>
          <li><a href="/running_plans">Weekly Running Plans</a></li>
      </ul>
    </div>

    <h3 class="sub-header">Weekly Running Plans</h3>
    <!--<form action="/running_plans/search" method="get" class="search">
      <input type="text" name="query">
      <button type="submit">Search for a Plan</button>
    </form>-->

    <div class="displayed">
      <% for(var i =0; i < running_plans.length; i++) { %>
        <div class="displayed_result">
          <ul>
            <li class="displayed_result_info">Running Plan ID: <%= running_plans[i].running_plan_id %> <br/> Monday: <%= running_plans[i].monday %> <br/> Tuesday: <%= running_plans[i].tuesday %> <br/> Wednesday: <%= running_plans[i].wednesday %> <br/> Thursday: <%= running_plans[i].thursday %> <br/> Friday: <%= running_plans[i].friday %> <br/> Saturday <%= running_plans[i].saturday %> <br/> Sunday: <%= running_plans[i].sunday %></li>
            <li class="displayed_update">
              <!--<form action="/running_plans/update" method="get">
                <input type="hidden" name="running_plan_id" value="<%= running_plans[i].running_plan_id %>"/>
                <button type="submit" style="background-color:rgba(255, 251, 0, 0.459)">Update Running Plan</button>
              </form>-->
            </li>
            <li class="displayed_delete">
              <form action="/running_plans/delete" method="get">
                <input type="hidden" name="running_plan_id" value="<%= running_plans[i].running_plan_id %>">
                <button type="submit" style="background-color:rgba(255, 30, 0, 0.459)">Delete Running Plan</button>
              </form>
            </li>
          </ul>
        </div>
      <% } %>
    </div>

    <button class="add" style="background-color:rgba(5, 150, 0, 0.425)"><a href="/running_plans/add">+ Add a Running Plan</a></button> 
  </body>
</html>